.vscode/launch.json
.vscode/settings.json
Phoenix.csv
SimpleNMF/test.py
*.txt
GBRS_Wali/Urbana_Champaign_Vectors.csv
GBRS_Wali/test.py
GBRS_Wali/testFile
ActualModule/assisting_functions/__pycache__/functions.cpython-38.pyc
ActualModule/models/__pycache__/GBRS_vanilla.cpython-38.pyc
test/training_triplets.csv
test/CourseMF.py
test/neighbor_lists.dict
test/prereq.dict
test/Results.csv
test/test_triplets.csv
test/test.py
test/CourseMF (1).py
test/Results0.csv
Results.csv
test/NEUCOM-D-21-00686_R1_reviewer.pdf
test/jre-8u291-windows-x64.exe
CompleteRatingMatrix.csv
PickleJar/1thSimMat.pkl
PickleJar/2thSimMat.pkl
PickleJar/3thSimMat.pkl
PickleJar/4thSimMat.pkl
PickleJar/5thSimMat.pkl
PickleJar/6thSimMat.pkl
PickleJar/7thSimMat.pkl
PickleJar/8thSimMat.pkl
PickleJar/9thSimMat.pkl
PickleJar/10thSimMat.pkl
PickleJar/11thSimMat.pkl
PickleJar/12thSimMat.pkl
PickleJar/13thSimMat.pkl
PickleJar/14thSimMat.pkl
PickleJar/15thSimMat.pkl
PickleJar/16thSimMat.pkl
PickleJar/17thSimMat.pkl
PickleJar/18thSimMat.pkl
PickleJar/19thSimMat.pkl
PickleJar/20thSimMat.pkl
PickleJar/21thSimMat.pkl
PickleJar/22thSimMat.pkl
PickleJar/23thSimMat.pkl
PickleJar/24thSimMat.pkl
PickleJar/25thSimMat.pkl
PickleJar/26thSimMat.pkl
PickleJar/27thSimMat.pkl
PickleJar/28thSimMat.pkl
PickleJar/29thSimMat.pkl
PickleJar/30thSimMat.pkl
PickleJar/31thSimMat.pkl
PickleJar/32thSimMat.pkl
PickleJar/33thSimMat.pkl
Important Result/model_include_all_first_try.csv
Important Result/model_only_combinedfSims.csv
Important Result/model_only_POIsims.csv
Important Result/model_original_noExtraFeature.csv
ActualPackage/functions/GBRS_startYear_2007_minRatings_9999999998_NOB_33_clusterSize_1_num_of_centroids_9.csv
.gitignore
ActualPackage/functions/GBRS_startYear_2007_minRatings_9999999998_NOB_33_clusterSize_6_num_of_centroids_6.csv
ActualPackage/functions/GBRS_startYear_2007_minRatings_9999999999_NOB_33_clusterSize_6_num_of_centroids_6.csv
ActualPackage/functions/__pycache__/methods.cpython-38.pyc
ActualPackage/functions/__pycache__/methods.cpython-38.pyc
ActualPackage/functions/__pycache__/methods.cpython-38.pyc
ActualPackage/models/__pycache__/POIsims.cpython-38.pyc
ActualPackage/PackageTestGround/failed result.xlsx
